{% liquid
  assign content_block = article.metafields.content_block
  assign block_type = content_block.type
  assign block_heading = content_block.heading
  assign block_heading_type = content_block.heading_type
  assign block_heading_alignment = content_block.heading_alignment
  assign block_image = content_block.image
  assign block_content = content_block.html_content
  assign block_reverse_direction = content_block.reverse

  assign len = block_type.size | minus: 1
%}
<h2>Contents</h2>
<div class="article-contents">
{%- for i in (0..len) -%}
  {% if block_heading[i] %}
  <span class="contents-{{ heading_type[i] }}">{{ block_heading[i] }}</span>
  {% endif %}
{%- endfor -%}
</div>
{%- for i in (0..len) -%}
    {%- assign block_id = i -%}
    {% case block_type[i] %}
      {% when 'text-image' %}
<!--         {% render 'article-content-block__text-image', 
            image: block_image[i], 
            subheading: block_subheading[i], 
            text: block_text[i], 
            reverse_col: reverse_col_direction[i], 
            block_id: block_id %} -->
      {% when 'full-width' %}
        {% render 'article-content-block__text', 
                  heading: block_heading[i],
                  heading_type: block_heading_type[i],
                  content: block_content[i],
                  block_id: block_id %}
    {% comment %}{% when 'full-width-image' %}{% endcomment %}
      
    {% endcase %}
            
{%- endfor -%}