{%- if collection.description != blank and current_filter_size == 0 -%}
  <div class="rte">
    <div class="collection__description" active>
      <div
        class="collection__description--read-more"
        data-alternate-labels='["Read More", "Read Less"]'
      >
        Read More
      </div>
      <div class="collection__description--text" active>
        {{ collection.description }}
      </div>
    </div>
  </div>
  {%- render 'collection-related-categories' -%}
{%- endif -%}
