<div
  id="contents-bar"
  class="contents-bar grid__item medium-up--one-quarter grid__item--sidebar"
  style="position: sticky; height: fit-content; top: 0;"
  status="open"
>
  <h2 style="font-size: calc(var(--typeHeaderSize)*.65);">Contents</h2>
  <ol class="contents-table"></ol>
</div>
