<script type="text/javascript">
          
  const articleSections = document.querySelectorAll('h2, h3, h4');
  const tableContentElement = document.querySelector('.contents-table');

  articleSections.forEach(heading => {
    const headingTextContent = heading.textContent;
    if (headingTextContent !== "") {
      const idName = headingTextContent
    			   .replaceAll(' ', '-')
    			   .replaceAll(/\,|\?/ig, '')
    			   .toLowerCase()
      heading.setAttribute('id', idName);

      const tableContentItems = `<li class="sd-${heading.nodeName.toLowerCase()}"><a href="#${idName}" data-hash="#${idName}">${headingTextContent}</a></li>`
      tableContentElement.insertAdjacentHTML('beforeend', tableContentItems) 
    } 
    })
  
  const showContentBtn = document.querySelector('.show-contents.btn');
  const content = JSON.parse(showContentBtn.getAttribute("data-text-content"));
    
  showContentBtn.addEventListener('click', () => {
  	tableContentElement.toggleAttribute('open');
	(showContentBtn.textContent == content[0]) ? showContentBtn.textContent = content[1] : showContentBtn.textContent = content[0];                             
  });
  
</script>