{% if template == 'product.wine-cap-bed-grow' %}
<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container page-width--narrow" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">Size Guide</h2>
      </header>
      <main class="modal__content" id="modal-1-content">
        <!-- Small -->
        <div class="modal__content--col">
          <h3>Small</h3>
          <div class="modal__content--description">
            <p>Recommended growing space - <span style="font-weight: 600;">1 m2</span></p>
            <p>What's included in the bundle</p>
            <ul style="font-weight: 600;">
              <li>1L Wine Cap Spawn</li>
              <li>4kg Straw</li>
            </ul>
          </div>
        </div>
        <!-- Medium -->
        <div class="modal__content--col">
          <h3>Medium</h3>
          <div style="font-weight: 600;" class="modal__content--description">
            <p>Recommended growing space - <span style="font-weight: 600;">2 m2</span></p>
            <p>What's included in the bundle</p>
            <ul>
              <li>2 x 1L Wine Cap Spawn</li>
              <li>8kg Straw</li>
            </ul>
          </div>
        </div>
        <!-- Large -->
        <div class="modal__content--col">
          <h3>Large</h3>
          <div class="modal__content--description">
            <p>Recommended growing space - <span style="font-weight: 600;">5 m2</span></p>
            <p>What's included in the bundle</p>
            <ul style="font-weight: 600;">
              <li>5L Spawn</li>
              <li>18kg Straw</li>
            </ul>
          </div>
        </div>
      </main>
      <footer class="modal__footer">
        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
      </footer>
    </div>
  </div>
</div>
{% endif %}
 

<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container page-width--narrow" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">Kit Types Explained</h2>
      </header>
      <main class="modal__content" id="modal-1-content">

        <!-- DIY Kits Column -->
        <div class="modal__content--col">
          <h3>DIY Kits - Includes Living Spawn</h3>
          <div class="modal__content--description">
            <p>
              Our DIY Kits are designed for those who seek a hands-on educational experience in mushroom cultivation. These kits include all the elements needed to grow mushrooms at home from scratch.
            </p>
            <ul>
              <li>Includes live, perishable mushroom spawn, substrate, and growing bag</li>
              <li>In-depth, step-by-step instructions included</li>
              <li>Great starting point for those interested in mushroom cultivation</li>
            </ul>
          </div>
        </div>

        <!-- Gift Kits Column -->
        <div class="modal__content--col">
          <h3>DIY Kits (Gift Option) - Includes Voucher for Spawn</h3>
          <div class="modal__content--description">
            <p>
              Our Gift Kits make for a memorable and unique present for the mushroom enthusiasts or budding mycologists in your life. Our spawn voucher system enables you to start growing when you're ready to do so!
            </p>
            <ul>
              <li>Includes all essentials for growing, minus the live spawn</li>
              <li>Comes with a FREE Spawn Redemption Voucher</li>
              <li>Ensures spawn freshness for when the recipient is ready to grow</li>
            </ul>
          </div>
        </div>

        <!-- Ready-to-Fruit Kits Column -->
        <div class="modal__content--col">
          <h3>Ready-to-Fruit Kits</h3>
          <div class="modal__content--description">
            <p>
              Our Ready-to-Fruit Kits are for those who prefer minimal effort but still want to grow gourmet mushrooms at home.
            </p>
            <ul>
              <li>Pre-inoculated with mycelium and ready to fruit</li>
              <li>Also known as an "open-and-spray" kit</li>
              <li>Ideal for foodies and medicinal purposes</li>
            </ul>
          </div>
        </div>

      </main>
      <footer class="modal__footer">
        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
      </footer>
    </div>
  </div>
</div>
<script>
  let hoverTimer;

  const hoverElements = document.querySelectorAll('[data-micromodal-trigger="modal-1"]');
  hoverElements.forEach(hoverElement => {
    if (hoverElement) {
      hoverElement.addEventListener('mouseover', function() {
      // Set a timer for half a second (500 milliseconds)
      hoverTimer = setTimeout(function() {
        MicroModal.show('modal-1');
      }, 500);
    });

    // Clear the timer if the mouse leaves the element before half a second
    hoverElement.addEventListener('mouseout', function() {
      clearTimeout(hoverTimer);
    });
  }
  })


  MicroModal.init();
</script>