{%- if product.metafields.custom.lead_time == blank -%}
  {% assign lead_time = product.selected_or_first_available_variant.metafields.custom.lead_time %}
{%- else -%}
  {% assign lead_time = product.metafields.custom.lead_time %}
{%- endif -%}

{% if lead_time != blank %}
  <div class="lead-time product-block {% if lead_time == 'None' %}hide{% endif %}" id="lead-time">
    <div class="lead-time__icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="800px" height="800px" viewBox="0 0 24 24" fill="none">
        <path opacity="1" d="M10 7L2 7" stroke="#fff" stroke-width="1.5" stroke-linecap="round"></path>
        <path opacity="1" d="M8 12H2" stroke="#fff" stroke-width="1.5" stroke-linecap="round"></path>
        <path opacity="1" d="M10 17H2" stroke="#fff" stroke-width="1.5" stroke-linecap="round"></path>
        <circle cx="17" cy="12" r="5" stroke="#fff" stroke-width="1.5"></circle>
        <path d="M17 10V11.8462L18 13" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    </div>
    <div class="lead-time__text">
      Lead time: <span data-section="lead-time">{{ lead_time }} (Business Days)</span>
    </div>
  </div>

  <style>
    .lead-time {
    display: flex;
    align-items: center;
    gap: .5rem;
    background: var(--colorBlack);
    color: #fff;
    padding: 0 .75rem;
    width: fit-content;
    border-radius: 2px;
    }

    .lead-time__icon {
    display: flex;
    }

    .lead-time__icon svg {
    height: 30px;
    width: 30px;
    fill: #fff;
    }

    @media screen and (max-width: 769px) {
      .lead-time {
        margin: 1rem auto 0 auto;
      }
    }
  </style>
{% endif %}
