{% comment %}
  {% assign species = product.metafields.custom.species.value %}
  {% assign lead_time = product.metafields.custom.lead_time %}

  <div class="product-block" id="product-meta">
    <section class="grid-table">
      {%- if species -%}
        <div class="grid-cell">Species</div>
        <div class="grid-cell">{{ species.binomial_nomenclature }}</div>
      {%- endif -%}
      {%- if lead_time != blank -%}
        <div class="grid-cell">Lead Time</div>
        <div class="grid-cell" data-section="lead">{{ lead_time }}</div>
      {%- endif -%}
    </section>
  </div>

  <style>
    #product-meta .grid-table {
      max-width: 75%;
      grid-template-columns: 1.5fr 4fr;
      border-radius: 3px;
      margin: 0;
    }
  </style>
{% endcomment %}
<div class="product-block">
  {% render 'species-tag' %}
  {% render 'product-lead-time' %}
</div>
