{% assign species_object = product.metafields.custom.species.value %}
{% if species_object %}
  <div class="species product-block">
    <div class="species__img">
      {% render 'image-element', img: species_object.featured_image, alt: species_object.binomial_nomenclature %}
    </div>
    <div class="species__strain">
      Variety:
      <a
        {% if species_object.education_url != blank or species_object.shop_url != blank %}
          href="#"
        {% endif %}
        style="text-decoration: underline"
      >
      {% unless naming_conv == blank %}
        {% case naming_conv %}
          {% when 'binomial' %}
            {{- species_object.binomial_nomenclature -}}
          {% when 'common' %}
            {{- species_object.display_name -}}
        {% endcase %}
        {% else %}
        {{- species_object.binomial_nomenclature -}}
      {% endunless %}
      </a>
    </div>
  </div>

  <style>
    .species {
        display: flex;
        align-items: center;
        background: #F3F3F3;
        padding: 0.25rem 1rem;
        gap: 1rem;
        justify-content: center;
        width: fit-content;
        border-radius: var(--buttonRadius);
    }

    .species__img {
      height: 30px;
      width: 30px;
      border-radius: 50px;
      overflow: hidden;
    }

    .species__img img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    @media only screen and (max-width: 767px) {
    .species {

    }
    }
  </style>
{% endif %}
