<a href="https://uk.trustpilot.com/review/urban-farm-it.com" target="_blank" class="tp-widget">
<div class="tp-widget__label-rating">
<div class="tp-widget__label">Excellent</div>
<img class="tp-widget__rating-img" alt="TrustScore 4.7 out of 5" src="https://cdn.shopify.com/s/files/1/0699/1940/8408/files/stars-4.5.svg?v=1702741850">
</div>
<div class="tp-widget__logo">
{% render 'icon-trustpilot', fill_color: fill_color %}
</div>
</a>

<style>
.tp-widget {
display: flex;
align-items: center;
gap: 1rem;
margin: .5rem 0 !important;
  opacity: 0;
animation: fade-in 2s ease 1.6s forwards;
  color: {{ fill_color | default: '#000' }} !important;
}

  .tp-widget:hover {
    color: {{ fill_color | default: '#000' }} !important;
  }

.tp-widget__label-rating {
display: flex;
gap: 1rem;
}

.tp-widget__rating-img {
display: block;
width: 100px;
}

.tp-widget__logo {
position: relative; height: 0; width: 100px; padding: 0; padding-bottom: 40px;
}
.tp-widget__logo svg {
position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: -2px;
}

@media only screen and (max-width: 769px) {
.tp-widget {
flex-wrap: wrap;
/* flex-direction: column-reverse; */
gap: .5rem;
margin-bottom: 26px !important;
}
.tp-widget__logo {
width: 70px;
}
.tp-widget__label-rating {
/* width: 100%; */
/* justify-content: center; */
}
}
</style>