{% assign featured_articles = collection.metafields.collection.featured_articles | split: '|' %}
{%- if featured_articles != blank -%}
{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}
<div class="page-width">
    {%- if section.settings.title != blank -%}
    <header class="section-header">
      <h2 class="section-header__title">
        {{ section.settings.title | escape }}
      </h2>
    </header>
{%- endif -%}
    <div class="grid grid--uniform"> 
      {%- for art in featured_articles -%}
      {%- render 'article-grid-item',
        blog: blogs.mushrooms,
        article: articles[art],
        grid_item_width: 'medium-up--one-third',
        per_row: '3',
        image_size: 'wide'
      -%}
    {%- endfor -%}
    </div>
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}
{%- endif -%}

{% schema %}
{
  "name": "Collection Articles",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.blog-posts.settings.title.label",
      "default": "Related Guides"
    }
  ],
  "presets": [
    {
      "name": "Collection Articles",
      "settings": {
      }
    }
  ]
}
{% endschema %}
