{%- if
        collection.handle == 'wholesale-mushroom-spawn' or
        collection.handle == 'mushroom-substrates' or
        collection.handle == 'mushroom-substrate-supplements' or
        collection.handle == 'mushroom-bags-containers' or
        collection.handle == 'mushroom-growing-supplies'
-%}
    <div id="section-contact-form" class="index-section !tw-bg-[#DACFB6] !tw-mb-0 !tw-mt-0">
        <div class="page-width{% if section.settings.narrow_column %} page-width--narrow{% endif %}">
            {%- if section.settings.title != blank -%}
            <div class="!tw-bg-[#DACFB6] !lg:tw-px-20 !tw-py-8">
                <div class="section-header !tw-mb-0">
                    <h2 class="section-header__title tw-flex tw-justify-center">
                        {{ section.settings.title }}
                    </h2>
                    {%- if section.settings.text != blank -%}
                        <div class="rte tw-flex tw-justify-center tw-text-center section-header__rte">{{ section.settings.text }}</div>
                    {%- endif -%}
                </div>
                {% endif %}

                <div class="">
                    {%- for block in section.blocks -%}
                        {% render block %}
                    {%- endfor -%}

                    <p class="tw-uppercase tw-text-center tw-font-bold tw-mb-0 tw-mt-5">
                        Please <a href="https://www.flipsnack.com/A9A7BF5569B/wholesale-website/full-view.html" target="_blank" class="tw-underline !tw-text-black">download our brochure</a> for more products and information.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% schema %}
{
  "name": "Contact form wholesale",
  "class": "index-section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.contact-form.settings.content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.contact-form.settings.title.label",
      "default": "Contact"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:sections.contact-form.settings.text.label"
    },
    {
      "type": "checkbox",
      "id": "narrow_column",
      "label": "t:sections.contact-form.settings.narrow_column.label",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Contact form wholesale"
    }
  ]
}
{% endschema %}
