{%- assign cultivation_info = product.metafields.custom.cultivation_information.value.html_table -%}
{%- if cultivation_info -%}
  <div class="page-width page-width--narrow" style="overflow-x: scroll;">
    <h2>Cultivation Info</h2>
    {{ cultivation_info }}
  </div>
{%- endif -%}
{% schema %}
{
  "name": "Cultivation Table",
  "class": "index-section",
  "settings": [],
  "blocks": [],
"presets": [
  {
    "name": "Cultivation Table",
    "blocks": []
  }
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
