{%- if page.content != blank -%}
    <style>

      h1 {
        font-size: clamp(28px, 5vw, 32px);
      }
      
      h1, h2, h3, h4 {
        text-transform: unset !important;
        -webkit-text-stroke: 0px !important;
        letter-spacing: unset !important;
        font-family: 'DM Sans' !important;
      }
    </style>
    <div class="shopify-section index-section">
      <div class="page-width page-width--narrow">
        <!-- <h1>{{ page.title }}</h1> -->
        {{ page.content }}
      </div>
    </div>
  {%- endif -%}
{% comment %}
  
  {% liquid
    assign header = page.metafields.header
  %}
  {% if header.heading != blank %}
    {% render 'page-content-block__hero_1', heading: header.heading, image: header.background_image, text: header.text %}
  {% endif %}
  {% liquid
    assign content_block = page.metafields.content_block
    assign container_size = content_block.container_size
    assign block_type = content_block.type
    assign block_align_text = content_block.align_text
    assign block_heading = content_block.heading
    assign block_heading_type = content_block.heading_type
    assign block_subtitle = content_block.subtitle
    assign block_text = content_block.text
    assign block_image_1 = content_block.image_1
    assign block_image_1_alt_text = content_block.image_1_alt_text
    assign block_image_2 = content_block.image_2
    assign block_image_3 = content_block.image_2_alt_text
    assign block_button_label = content_block.button_label
    assign block_button_link = content_block.button_link
    assign len = block_type.size
  %}
  {%- for i in (0..len) -%}
    {% case block_type[i] %}
      {% when 'full-width' %}
        {% render 'product-content-block__rich-text',
          align_text: block_align_text[i],
          heading_type: block_heading_type[i],
          heading: block_heading[i],
          text: block_text[i],
          container_size: container_size[i]
        %}
      {% when 'large-image-with-text-box' %}
        {% render 'product-content-block__large-image-with-text',
          index: i,
          heading: block_heading[i],
          heading_type: block_heading_type[i],
          subtitle: block_subtitle[i],
          text: block_text[i],
          image: block_image_1[i],
          image_alt_text: block_image_1_alt_text[i],
          parallax: true,
          button_label: block_button_label[i],
          button_link: block_button_link[i]
        %}
      {% when 'text-image' %}
        {% render 'product-content-block__image-with-text',
          index: i,
          heading: block_heading[i],
          heading_type: block_heading_type[i],
          image: block_image_1[i],
          image_alt_text: block_image_alt_text[i],
          text: block_text[i],
          container_size: container_size[i]
        %}
    {% endcase %}
  {%- endfor -%}
{% endcomment %}
{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section"
}
{% endschema %}
