{%- assign flavour_profile = product.metafields.custom.flavour_profile -%}
{%- unless flavour_profile == blank -%}
  <div class="page-width page-width--narrow">
    <h2>{{ section.settings.title }}</h2>
    {{ flavour_profile | metafield_tag }}
  </div>
  <style></style>
{%- endunless -%}

{% schema %}
{
  "name": "PDP Flavour Profile",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Flavour Profile"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "PDP Flavour Profile",
      "blocks": []
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
