{%- assign cultivation_info = product.metafields.custom.cultivation_information.value -%}
{%- unless cultivation_info == blank -%}
  <div class="page-width page-width--narrow">
    <h2>{{ section.settings.title }}</h2>
    {% render 'cultivation-info', cultivation_info: cultivation_info %}
  </div>
{%- endunless -%}

{% schema %}
{
  "name": "PDP Cultivation Info",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Cultivation Info"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "PDP Cultivation Info",
      "blocks": []
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
