{%- unless product.description == blank -%}
  <div class="page-width page-width--narrow">
    <h2>{{ section.settings.title }}</h2>
    <div data-section="product-description">{{ product.description }}</div>
  </div>
  <style>
    .page-width--three-quarters {
      width: 75%;
    }

    @media only screen and (max-width: 767px) {
      .page-width--three-quarters {
        width: 100%;
      }
    }
  </style>
{%- endunless -%}

{% schema %}
{
  "name": "PDP Description",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Description"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "PDP Description",
      "blocks": []
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
