product-bundle {
  display: block;
  background-color: #f5f5f5;
  border-radius: var(--buttonRadius);
  padding: 1rem;
}

product-bundle:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

product-bundle select,
product-bundle input {
  background-color: #fff;
}

.product-bundle__container,
.product-bundle__details {
  display: flex;
}

.product-bundle__header {
  letter-spacing: unset !important;
  text-transform: capitalize;
  font-size: 1.25rem;
  text-align: left;
  margin-bottom: 1.5rem;
}

.product-bundle__container {
  column-gap: 0.5rem;
}

.product-bundle__details {
  width: 100%;
  flex-direction: column;
  row-gap: 0.5rem;
  flex-wrap: wrap;
  overflow: hidden;
}

.bundle-details__product-select {
  width: 100%;
}

.bundle-details__options {
  display: flex;
  gap: 0.5rem;
  position: relative;
  flex-wrap: wrap;
}

.bundle-details__options select {
  max-width: 33%;
}

@media only screen and (max-width: 769px) {
  .bundle-details__options select {
    max-width: 50%;
  }
}


.product-bundle__image-container {
  width: 25%;
  min-width: 25%;
  border-radius: var(--buttonRadius);
  background-color: #fff;
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 14%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-bundle__image-container img {
  width: 125px;
  height: 125px;
  object-fit: contain;
}

.bundle-details__btn {
  font-size: 1rem;
  letter-spacing: normal !important;
  text-transform: capitalize;
}

.bundle-details__btn.active {
  background-color: green;
}

.bundle-details__description {
  font-weight: 100;
  text-align: left;
}

@media only screen and (max-width: 769px) {
  .bundle__product-qty {
    height: auto !important;
  }
}

