@media (min-width: 769px) {
  .page-content--product {
    padding-top: 25px;
  }
  .breadcrumb {
    margin-top: 0px !important;
  }
}

.template-product .product-block--header {
  margin-bottom: 0 !important;
}

/* .template-product .jdgm-widget.jdgm-preview-badge.jdgm-preview-badge--with-link.jdgm--done-setup {
  font-size: 0.85rem !important;
  margin-top: 0 !important;
} */

.template-product
  .jdgm-widget.jdgm-preview-badge.jdgm-preview-badge--with-link.jdgm--done-setup
  .jdgm-prev-badge__text {
  text-decoration: underline;
}

/* Product Form Tabs */

@media only screen and (max-width: 767px) {
  .product-block--tab .collapsible-content__inner {
    padding-right: 0 !important;
  }
}
.product-block--tab button {
  font-family: 'Josefin Sans' !important;
  letter-spacing: 0px !important;
  font-weight: bold;
  -webkit-text-stroke: 0.25px !important;
  font-size: 1.05rem;
  text-transform: uppercase;
}

.collapsible-trigger-btn--borders {
  border: none !important;
}

.collapsibles-wrapper--border-bottom {
  border-bottom-color: #d1d1d6 !important;
}

.collapsible-trigger-btn {
  padding-left: 0 !important;
}

.collapsible-content__inner {
  border: none !important;
  padding-left: 0 !important;
}

/* 
* Hulk Volume Discounts
*/
.hulkapps-volumes {
  margin: 1rem 0 !important;
}
.hulkapps-table.table * {
  font-size: 0.85rem !important;
}
.hulkapps-table.table th {
  background: #1a1a1a !important;
  color: white !important;
  border: none !important;
}

span.hulkapps-price + span {
  border-radius: var(--buttonRadius);
}

/*
* Product tab navigation
*/

/* .product_tab-nav {
  position: fixed;
  top: 0;
  background: white;
  padding: 1rem;
  width: 100%;
  box-shadow: 1px 1px 8px 0px rgb(0 0 0 / 8%);
} */

.product_tab-nav-list {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 0.75rem;
}

.product_tab-nav-item .product_tab-nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 150px;
  width: fit-content;
  text-align: center;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  background: #f3f3f3;
}

@media only screen and (max-width: 1199px) {
  /*   .product_tab-nav-list {
    display: none;
  } */

  .product_tab-nav-wrapper {
    padding: 0 20px;
  }

  .product_tab-nav-list {
    overflow-x: auto;
    justify-content: start;
  }

  .product_tab-nav-link {
    white-space: nowrap;
  }
}

@media only screen and (max-width: 768px) {
  .species {
    margin: 0 auto !important;
  }

  /* .product-single__meta, .product-single__meta .rte {
    text-align: left !important;
  } */

  .product-block--header,
  .social-sharing,
  .jdgm-widget.jdgm-preview-badge {
    text-align: center !important;
  }

  .product-block--price {
    flex-direction: column;
  }

  .product-single__meta .product__policies {
    text-align: center !important;
  }
}

@media only screen and (max-width: 768px) {
  .sales-point .icon-and-text {
    justify-content: start !important;
  }
}
/* 
* Custom Formatting 
*/
/* Enlarge list elements */
.rte li {
  /* font-size: 1.25rem; */
  font-size: 16px;
}
/* Remove font-size from the judgeme reviews section */
.jdgm-rev-widg__title {
  font-size: calc(var(--typeHeaderSize) * 0.85) !important;
}

.add-to-cart {
  font-size: 1.1rem;
  letter-spacing: normal !important;
  text-transform: capitalize;
}

p {
  font-size: 17px !important;
}
